<ion-view  title="家庭成员" align-title="center">
    <ion-nav-buttons>
      <button class="button button-icon">
        <i class="icon ion-navicon"></i>
      </button>
      <a ng-click="showPopup();" class="plus"><i class="icon ion-plus"></i></a>
    </ion-nav-buttons>
    <ion-content>
<div class="list card"  >
<div class="item" style="border-top-width:5px ;border-top-color: #00FA9A;border-top-style:solid; height: 120px;padding: 7px;">
	    <div class="row">
	    <div class="col col-80">
	    <h3 style="font-size: 22px;">自己:姓名&nbsp<i class="ion-male " style="color: #4169E1;"></i></h3>
	    <p>Id:1351</p>
	    <p>315sdf</p>
	    </div>
	    <div class="col">
	    
<button class="button button-clear icon ion-cloud"></button>
	    </div>
	  </div>
	  </div>
	  </div>

<div class="list card"  >
<div class="item" style="border-top-width:5px ;border-top-color:#FF6347;border-top-style:solid; height: 120px;padding: 7px;">
	    <div class="row">
	    <div class="col col-80">
	    <h3 style="font-size: 22px;">父亲:姓名&nbsp<i class="ion-male " style="color: #4169E1;"></i></h3>
	    <p>Id:1351</p>
	    <p>315sdf</p>
	    </div>
	    <div class="col">
	    
<button class="button button-clear icon ion-cloud"></button>
	    </div>
	  </div>
	  </div>
	  </div>

<div class="list card"  >
<div class="item" style="border-top-width:5px ;border-top-color: #7FFFD4;border-top-style:solid; height: 120px;padding: 7px;">
	    <div class="row">
	    <div class="col col-80">
	    <h3 style="font-size: 22px;">母亲:姓名&nbsp<i class="ion-female " style="color:   #FFAEB9;"></i></h3>
	    <p>Id:1351</p>
	    <p>315sdf</p>
	    </div>
	    <div class="col">
	    
<button class="button button-clear icon ion-cloud"></button>
	    </div>
	  </div>
	  </div>
	  </div>
      </ion-content>
  </ion-view>