<ion-view  title="我的家庭" align-title="center">
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <a ng-click="showPopup();" class="plus"><i class="icon ion-plus"></i></a>
    </ion-nav-buttons>
    <ion-content>
      	<div class="bar bar-header item-input-inset">
      	<!-- <select>
      		<option selected>成员</option>
	      	<option>购药记录</option>
	      	<option>门诊住院记录</option>
      	</select> -->
		   <label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="search" placeholder="搜索">
		   </label>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/family/member">
				<i class="icon ion-ios-people"></i>
				家庭成员
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<div class="item item-divider">医疗记录</div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-medkit"></i>
				平时购药记录
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-ios-film"></i>
				门诊/住院记录
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
      </ion-content>
  </ion-view>