<ion-view  title="家庭成员" align-title="center">
	<ion-content  class="forbid-scroll">
		<div class="list card"  >
			<div class="item family-member">
				<div class="row">
					<div class="col col-80">
					<h3>张三&nbsp;<i class="ion-male " style="color: #4169E1;"></i></h3>
					<p>儿子&nbsp;17岁</p>
					</div>
					<div class="col">

					<button class="button button-clear icon ion-cloud"></button>
					</div>
				</div>
			</div>
		</div>

		<div class="list card"  >
			<div class="item family-member">
				<div class="row">
					<div class="col col-80">
					<h3>李四&nbsp;<i class="ion-male " style="color: #4169E1;"></i></h3>
					<p>父亲&nbsp;48岁</p>
					</div>
					<div class="col">

					<button class="button button-clear icon ion-cloud"></button>
					</div>
				</div>
			</div>
		</div>

		<div class="list card"  >
			<div class="item family-member">
				<div class="row">
					<div class="col col-80">
					<h3>王五&nbsp;<i class="ion-female " style="color:   #FFAEB9;"></i></h3>
					<p>母亲&nbsp;48岁</p>
					</div>
					<div class="col">

					<button class="button button-clear icon ion-cloud"></button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>