<ion-view  title="我的家庭" align-title="center">
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <a ng-click="showPopup();" class="plus"><i class="icon ion-plus"></i></a>
    </ion-nav-buttons>
    <ion-content>
      <div class="bar bar-header item-input-inset item-select">
    <style type="text/css">
  .button-light{
  	margin-left: 50%;
  }
  </style>
    <select>
      <option selected>成员</option>
      <option>购药记录</option>
      <option>门诊住院记录</option>
    </select>
    <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="搜索">
  </label>
</div>
      <ul class="list">

  <li class="item">
	  <div class="row">
		<div class="col col-11">
		<div style="width:40px; height:40px;"><img src="img/pills-blue.png" width="100%" height="100%" /></div>
		</div>
		<div class="col col-60">
		<h2>
		咽炎片（吴太感康）
		</h2>
		<p>成人量一次1片，一日2次。</p>
		</div>
		<div class="col col-5 col-offset-5">
		<button class="button button-light">
		  <i class="icon ion-chevron-right"></i>
		</button>
		</div>
	  </div>
	  </li> 
	   <li class="item">
	  <div class="row">
		<div class="col col-11">
		<div style="width:40px; height:40px;"><img src="img/pills-blue.png" width="100%" height="100%" /></div>
		</div>
		<div class="col col-60">
		<h2>
		咽炎片（吴太感康）
		</h2>
		<p>成人量一次1片，一日2次。</p>
		</div>
		<div class="col col-5 col-offset-5">
		<button class="button button-light">
		  <i class="icon ion-chevron-right"></i>
		</button>
		</div>
	  </div>
	  </li>
	    
	  </ul>
    </ion-content>
  </ion-view>