<ion-view title="首页">
    <!-- 中心内容 -->
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="bar bar-header item-input-inset" style="border-style: none;margin: 0px;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="搜索" >
        </label>
      </div>

      <div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          身边的医院药店
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          健康咨询
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-alert"></i>
          急救手册
        </a></div>
    </ion-content>
</ion-view>