<ion-view  title="我的药箱" align-title="center">
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <a  href="#/tab/searchMedicine" class="plus"><i class="icon ion-plus"></i></a>
    </ion-nav-buttons>
    <ion-content>
      <div class="list card" ng-repeat="medicine in medicines | limitTo:10">
        <div class="item family-member">
          <div class="row">
            <div class="col col-60">
              <em>{{medicine.name}}</em>
            </div>
            <div class="col">
              <p>2016.10.4</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-90">
              <p><i class="icon ion-clipboard" style="color:#33CD5F;"></i> {{medicine.feature}} </p>
              <p><i class="icon ion-at" style="color:#836FFF;"></i> 一号抽屉</p>
              <p>
                {{medicine.company}}
              </p>
            </div>
            <div class="col">
              <a href="#/tab/medicineInfo/{{medicine.id}}"><i class="icon ion-ios-arrow-right" style="position:absolute;right:15px;font-size:20px;"></i></a>
            </div>
          </div>
        </div>
      </div>
      </ion-content>
  </ion-view>
