<ion-view  view-title="资讯详情">
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
      <h4><b>{{news.title}}</b></h4>
      <div style="color: gray;">
	      <p>来源: {{news.source}}</p>
	      <p>分类: {{news.classf}}</p>
	      <p>时间: {{news.time}}</p>
	      <br/>
      </div>
      <div ng-bind-html="news.body" style="margin-left: 0px;"></div>
      <div class="news_nav">
      	<p class="left"><i class="fi-share"></i>&nbsp;分享</p>
      	<p class="right"><i class="fi-star"></i>&nbsp;收藏</p>
      </div>
    </ion-content>
  </ion-view>