<ion-view title="注册">
  <ion-nav-buttons>
    <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
  <form action="" method="post">
  	<div class="list list-inset">
          <label class="item item-input">
            <input type="text" name="username" placeholder="用户名" required="required" >
          </label>
          <label class="item item-input">
            <input type="email" name="email" placeholder="邮箱" required="required">
          </label>
          <label class="item item-input">
            <input type="password" name="password" placeholder="密码" required="required">
          </label>
          <div class="padding">
              <input type="submit" class="button button-block button-balanced" value="注册" />
          </div>
       </div>
  </form>
  <div class="to_login">
      已有帐号?&nbsp;<a href="#/user/login" menu-close>点击登录</a>
  </div>
  </ion-content>
</ion-view>
