<ion-view  view-title="提醒">
    <ion-nav-buttons>
      <button class="button button-icon" menu-toggle="left" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <a ng-click="showPopup();" class="plus"><i class="icon ion-plus"></i></a>
    </ion-nav-buttons>

  <style type="text/css">
  .button-light{
  	margin-left: 50%;
  }
  </style>
    <ion-content class="padding">
      <a ng-click="test_notification()"><i style="font-size:20px;" class="icon ion-plus"></i></a>
    <!--  <ul class="list">

     <h4>给自己的提醒</h4>
  <li class="item">
	  <div class="row">
		<div class="col col-8">
		<div style="width:20px; height:20px;"><img src="img/pills-blue.png" width="100%" height="100%" /></div>
		</div>
		<div class="col col-60">
		<h2>
		咽炎片（吴太感康）
		</h2>
		<p>成人量一次1片，一日2次。</p>
		</div>
		<div class="col col-5 col-offset-5">
		<button class="button button-light">
		  <i class="icon ion-chevron-right"></i>
		</button>
		</div>
	  </div>
	  </li>  -->
	  <p>给自己的提醒</p>
	  <div class="list">
	  	<ion-toggle ng-repeat="item in RemindsList" ng-model="item.checked" ng-checked="item.checked">
	  		<!-- <div style="float:left;padding:8px;"> -->
	  			<img src="img/pills-blue.png" width="30px" height="30px" style="float:left;" />
	  		<!-- </div> -->
	  		<div class="remindtext">
		  		<h2>{{item.text}}</h2>
		  		<p>{{item.time}} | {{item.period}}</p>
	  		</div>
	  	</ion-toggle>
	  </div>
	  <p>给家人的提醒</p>
	  <div class="list">
	  	<ion-toggle ng-repeat="item in RemindsList" ng-model="item.checked" ng-checked="item.checked">
	  		<!-- <div style="float:left;padding:8px;"> -->
	  			<img src="img/pills-blue.png" width="30px" height="30px" style="float:left;" />
	  		<!-- </div> -->
	  		<div class="remindtext">
		  		<h2>{{item.text}}</h2>
		  		<p>{{item.time}} | {{item.period}}</p>
	  		</div>
	  	</ion-toggle>
	  </div>
    </ion-content>
  </ion-view>
